<header class="page-header">

  <h1>Baltimore Neighborhood Vital Signs</h1>

  <button class="controls-trigger"
    ng-click="toggleControls();"
    ng-show="!controlsActive">
    Choose Indicators
  </button>

</header>

<div ui-view="controls"></div>


<main role="main">
<div ui-view="multiples"></div>
<div ui-view="comments"></div>

<footer>
  <section class="copy">&copy; 2014 Anand Thakker (<a href="https://twitter.com/anandthakker">@anandthakker</a>) and Bryan Connor (<a href="https://twitter.com/bryanconnor">@bryanconnor</a>)</section>
  <section class="github">Fork this project on <a href="https://github.com/anandthakker/baltimore-neighborhood-vitalsigns">github</a>.</section>
  <section class="source">
    Data from <a href="http://bniajfi.org/">
      <abbr title="Baltimore Neighborhood Indicators Alliance">BNIA</abbr></a>.
  </section>
  <section class="builtwith">
    Built with
    <ul>
      <li> <a href="http://d3js.org">d3js</a> </li>
      <li> <a href="http://angularjs.org">AngularJS</a> </li>
      <li> &hearts; </li>
    </ul>
  </section>
</footer>
</main>
