.bar rect {
  shape-rendering: crispEdges;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-weight: 1px;
  shape-rendering: crispEdges;
}
