.value{
  background: #555;
  color: #fff;
  display: block;
  width: 50px;
  //margin: 0 auto;
  text-align: center;
  padding: 3px 4px 5px 4px;
  //margin-top: -66px;
  z-index: 10000;
  border-radius: 3px;
  position: absolute;
  left: 35px;
  margin-top: -65px;
}

.vs-map {
  display: inline-block;
  width: 25%;
  position: relative;
  text-align: center;
  h2 {
    font-size: 1em;
    text-align: center;
    padding: 0px 10px;
  }

  .source {
    position: relative;
    .show-source {
      color: #ccc;
      &:before { content: "[" }
      &:after { content: "]" }
    }
    .details {
      position: absolute;
      padding: 1em .5em;
      bottom: 100%;
      background: rgb(255,255,255);
      border: 1px solid #ddd;
      font-size: scale-to(-1);
    }

  }

}

.region {
  fill: #fff;
  stroke: #000;
}

.region-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.region:hover{
  stroke: red;
  stroke-width: 4px;
}

path[data-region]:hover {
  stroke: red;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }
