/*-----------------------------------
 Site Styles
-----------------------------------*/

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


html {
  font-size: $font-size;
}

body, select, input, textarea {
  color: $font-color;
  font-family: $font-family-sans;
  line-height: $line-height;
}

body {
  @extend %uncollapse-margin;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: lines(1) 0;
}


button {
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;
}



h1,h2, h3 {
  font-family: $font-family-sans;
  font-weight: bold;
}
h4,h5,h6 {
  font-family: $font-family-sans;
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* Set up typographic scale. */

p, h1, h2, h3, h4 { margin-top:0; margin-bottom:0; }

h1, h2, h3 {
  line-height: 1.2;
  margin: lines(1) 0;
}
h1 { font-size: scale-to(2); }
h2 { font-size: scale-to(1); }
p  { @include scale-type(scale-to(0), 1, 0); }

h4+p { margin-top: 0; }

small { font-size: scale-to(-1); }

@media only screen and (min-width: 35em) {
  h1 { font-size: scale-to(3);  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*----------------------------------------------------------------------*/

nav {
  li {
    display: inline-block;
    &:first-child:before {
      display: none;
    }
    &:before {
      content: "/";
      padding: 0 .25em;
    }
  }
  .active {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.container {
  background-position: 0 1.25em;
  background-origin: content-box;

  padding: 0 .5em 0 .5em;

  @extend %uncollapse-margin;
}



footer.container {
  clear: both;
  background: white;
  padding: 0 0 2em 0;
  @extend %clearfix;

  .copy {
    margin-top: lines(1);
    p, nav, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 769px) {
  footer.container {
    position: fixed;
    bottom: 0;
    .copy {
      float: left;
      p, nav, ul {
        display: inline;
      }
      nav {
        margin: 0 2em;
      }
    }
  }
}


/*----------------------------------------------------------------------*/

.welcome, h3, header h1 {
  margin: .25em;
}

$controls-bg: rgba(200,200,200,.2);

.maps {
  min-height: 10em;
}

$offset: 0rem;

.hide-btn {
  position: fixed;
  right: 0;
  top: $offset;
  font-size: scale-to(1);
  z-index: 100;
  background-color: $controls-bg;
}

.controls {
  font-size: scale-to(-1);
  background:  $controls-bg;
  padding: 0 2em;
  width: 100%;
  position: fixed;
  top: $offset;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: left .5s;
  -webkit-transition: left .5s;
  &.hidden {
    left: 100%;
  }
  ul li ul li{
    padding-bottom:4px;
    padding-top: 4px;
    line-height: 1.2;
  }
  ul{margin-top: 0px;}

  /* selection */
  li {
    cursor: pointer;
    h2{
      border-bottom: 1px solid #ccc;
      color: #444;
      margin-bottom: 8px;
      padding-bottom: 2px;
    }
    h2:hover+ul, li:hover {
      background-color: #ddd;
    }
    &.selected, li.selected:hover {
      background-color: $selection-color;
    }
  }

}


@media only screen and (min-width: 769px) {

  .welcome, h3, header h1 {
    margin-bottom: lines(1);
  }
  .controls{
    left: inherit;
    top: 0;
    right: 0;
    width: 30%;
    transition: all .5s;
    &.hidden {
      left: 100%;
    }
  }

  .maps, .disqus {
    width: 66%;
    margin-right: 3%;
  }
}
