/*-----------------------------------
 Site Styles
-----------------------------------*/

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


html {
  font-size: $font-size;
}

body, select, input, textarea {
  color: $font-color;
  font-family: $font-family-sans;
  line-height: $line-height;
  margin: 0;
}

body {
  @extend %uncollapse-margin;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: lines(1) 0;
}


button {
  border: 1px solid gray;
  border-radius: 3px;
  background: none;
  outline: 0;
  cursor: pointer;
}



h1,h2, h3 {
  font-family: $font-family-sans;
  font-weight: bold;
}
h4,h5,h6 {
  font-family: $font-family-sans;
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* Set up typographic scale. */

p, h1, h2, h3, h4 { margin-top:0; margin-bottom:0; }

h1, h2, h3 {
  line-height: 1.2;
  margin: lines(1) 0;
}
h1 { font-size: scale-to(2); }
h2 { font-size: scale-to(1); }
p  { @include scale-type(scale-to(0), 1, 0); }

small { font-size: scale-to(-1); }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*----------------------------------------------------------------------*/

%full-height {
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
}


$fixed-header-offset: lines(5);
$main-column-width: 66%;
$gutter-width: 2%;

$page-margin: .5em;

.page-header {
  @extend %uncollapse-margin;
  padding: 0 $page-margin;

  position: fixed;
  //@include z(header);
  top: 0;
  left: 0;
  right: 0;

  @media only screen and (min-width: 769px) {
    width: $main-column-width;
  }

  background: white;
}

main[role="main"] {
  @extend %full-height;
  padding-top: $fixed-header-offset;
  padding-left: $page-margin;
  padding-right: $page-margin;
  @media only screen and (min-width: 769px) {
      width: $main-column-width;
  }
}


.visualizations {
  min-height: 10em;
  padding-top: 20px;
  padding-left: $page-margin;
  padding-right: $page-margin;
  position: relative;
  //@include z(main);
}


$controls-bg: rgb(240,240,240);
.controls-trigger {
  position: absolute;
  right: $page-margin;
  bottom: lines(1);
  @media only screen and (min-width: 769px) { display: none; }
}

.controls-close {
  font-size: scale-to(1);
  position: absolute;
  right: $page-margin;
  @media only screen and (min-width: 769px) { display: none; }
}

.controls {
  font-size: scale-to(-1);
  background:  $controls-bg;
  padding: $fixed-header-offset .5em 0 .5em;
  width: 100%;
  @media only screen and (min-width: 769px) {
    padding-top: 0;
    width: (100% - $main-column-width - $gutter-width);
  }

  //@include z(navigation);
  @extend %full-height;


  /* off-canvas + transition */
  right: 0;
  transition: right .5s;
  -webkit-transition: right .5s;
  &.hidden {
    right: -100%;
  }


  /* indicator list styles */
  ul li ul li{
    padding-bottom:4px;
    padding-top: 4px;
    line-height: 1.2;
    user-select: none;
  }
  ul{margin-top: 0px;}

  li {
    cursor: pointer;
    h2{
      border-bottom: 1px solid #ccc;
      color: #444;
      margin-bottom: 8px;
      padding-bottom: 2px;
    }

    /* selection & hover */
    h2:hover+ul, li:hover {
      background-color: #ddd;
    }
    &.selected, li.selected:hover {
      background-color: $selection-color;
      color: #FFF;
    }
  }
}


.control-ui{
  input.search{
      width: 100%;
      padding: 7px 10px ;
      margin-top: 20px;
      font-size: scale-to(1);
      display: none; /* hide for now */
    }
}


footer {
  font-size: scale-to(-1);
  clear: both;
  background: white;
  padding: 3em 0 2em 0;
  @extend %clearfix;
}

.builtwith {
  ul {
    margin: 0;
    display: inline-block;
    li {
      display: inline-block;
      &:first-child:before {
        display: none;
      }
      &:before {
        content: "/";
        padding: 0 .25em;
      }
    }
  }
}
