<!doctype html>
<html class="no-js" ng-app="vitalsigns">
    <head>
        <meta charset="utf-8">
        <title>vitalsigns</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="styles/vendor.css"/>

        <link rel="stylesheet" href="styles/main.css"/>

        <script src="scripts/vendor/modernizr.js"></script>
    </head>
    <body ng-controller="main">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header class="container">

          <h1>Baltimore Neighborhood Vital Signs</h1>

          <!-- From https://github.com/simonwhitaker/github-fork-ribbon-css -->
          <div class="github-fork-ribbon-wrapper right">
              <div class="github-fork-ribbon">
                  <a href="https://github.com/anandthakker/baltimore-neighborhood-vitalsigns">Fork me on GitHub</a>
              </div>
          </div>
        </header>

        <div class="container">
          <section class="controls" ng-class="{hidden: !controlsActive}">
            <button class="hide-btn" ng-click="controlsActive = !controlsActive;" ng-init="controlsActive=true;">
              {{ controlsActive ? "X" : "« choose maps"}}
            </button>
            <ul>
              <li ng-repeat="(section, variables) in indicators">
                <h2 ng-click="selection.select(variables)">{{section}}</h2>
                <ul>
                  <li ng-repeat="v in variables" ng-click="selection.select(v)"
                      ng-class="{selected: selection.isSelected(v)}">
                    {{v.Indicator}} - {{v.Year}}
                  </li>
                </ul>
              </li>
            </ul>
          </section>

          <section class="maps">
            <vs-map ng-repeat="var in selection.selectedValues" property="{{var['Variable Name']}}">
          </section>
        </div>

        <footer class="container">
          <section class="copy">
            <span>&copy; 2014 Anand Thakker</span>
            <nav>
              <ul>
                <li> <a href="http://anandthakker.net/about">about</a></li>
                <li> <a href="https://twitter.com/anandthakker">twitter</a></li>
                <li> <a href="https://github.com/anandthakker">github</a></li>
              </ul>
            </nav>
            <span>
              (Data from <a href="http://bniajfi.org/">
                <abbr title="Baltimore Neighborhood Indicators Alliance">BNIA</abbr></a>.)
            </span>
          </section>
        </footer>


        <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
